@import url("https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan:wght@700&display=swap");
.spartan {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}
body{
  overflow: visible;
}
.antonio {
  font-family: "Antonio", sans-serif;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.tablet_menu {
  display: none;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 193px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.header_title {
  font-size: 28px;
  color: #ffffff;
}

.Active {
  height: 50px;
  width: 105;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.Disable {
  display: none;
}

.mobile_planets {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  height: 100%;
  top: 68px;
  width: 100%;
  padding-bottom: 100px;
  padding-top: 0px;
  padding-left: 24px;
  gap: 23px;
  overflow: hidden;
  background-color: #070724;
  border-top:1px solid rgba(255, 255, 255, 0.1);
}

.mobile_planets_name {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 1.5px;
  text-decoration: none;
}

.mobile_box {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 327px;
  border-top:1px solid rgba(255, 255, 255, 0.1);
  height: 65px;
  padding-top: 22px;
}
.Mercury{
  border-top: none;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.mercury {
  background-color: rgba(222, 244, 252, 1);

}
.venus {
  background-color: rgba(247, 204, 127, 1);
}
.earth {
  background-color: rgba(84, 91, 254, 1);
}
.mars {
  background-color: rgba(255, 106, 69, 1);
}
.jupiter {
  background-color: rgba(236, 173, 122, 1);
}
.saturn {
  background-color: rgba(252, 203, 107, 1);
}
.uranus {
  background-color: rgba(101, 240, 213, 1);
}
.neptune {
  background-color: rgba(73, 126, 250, 1);
}

.btn {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 9px;
  line-height: 10px;
  letter-spacing: 1.9285714626312256px;
  display: flex;
  align-items: center;
  height: 100%;
  transition: all 0.5s;
  /* border-bottom:4px solid rgba(65, 158, 187, 1) ; */
}
.clicked_btn {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 9px;
  line-height: 10px;
  letter-spacing: 1.9285714626312256px;
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom: 4px solid rgba(65, 158, 187, 1);
  transition: all 0.5s;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .Active {
    display: none;
  }
  .tablet_menu {
    display: flex;
    justify-content: center;
    gap: 33px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    padding-bottom: 30px;
    
  }
 
  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }
  .tablet_title {
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    line-height: 25px;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
  }
}
