* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  background-image: url("./images/background-stars.svg");
  background-size: cover;
  background-repeat: no-repeat;
  
  width: 100%;
}

