@import url("https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan:wght@400;700&display=swap");
.SPartan {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}
.ANtonio {
  font-family: "Antonio", sans-serif;
  font-weight: 400;
}
.spartanMedium {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
}

.title {
  font-size: 40px;
  color: rgba(255, 255, 255, 1);
  margin-top: 100px;
  text-transform: uppercase;
}
.main {
  margin-top: 95px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.paragraph {
  margin-top: 16px;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  width: 327px;
}
.container {
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.Source {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.wikipedia {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.About {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main_buttons{
  display: none;
}
.active{
  display: block;
  margin-top: -65px;
}
.disable{
  display:none;
}
.image{
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 130px;
  }
  .title {
    font-size: 48px;
    margin-top: 0;
    text-transform: uppercase;
  }
  .About {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .paragraph {
    margin-top: 24px;
    letter-spacing: 1px;
    text-align: left;
    width: 327px;
  }
  .main_container{
    display: flex;
    align-items: center;
    gap: 70px;
  }
  .main_buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
  .mainButtons{
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    width: 281px;
    height: 40px;
    border:1px solid rgba(255, 255, 255, 0.2) ;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 15px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1) !important;
    letter-spacing: 2px !important;
    cursor: pointer;
    font-size:9px ;
    cursor: pointer;
  }
  .clicked_mainButtons{
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    width: 281px;
    height: 40px;
    border:1px solid rgba(255, 255, 255, 0.2) ;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 15px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1) !important;
    letter-spacing: 2px !important;
    cursor: pointer;
    font-size:9px ;
    background-color: rgba(65, 158, 187, 1);
    cursor: pointer;
  }
  .buttons_number{
    color: rgba(255, 255, 255, 0.5);
  }
 
}

@media (min-width:1440px) {
  .main {
    margin-top: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 300px;
  }
  .main_container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
  }
  .title{
    font-size: 80px;
    padding-bottom: 0;
  }
  .paragraph{
    font-size: 14px;
    line-height: 25px;
    width: 350px;
    margin-top: 23px;
  }
  .clicked_mainButtons{
    font-size: 14px;
    width: 350px;
    padding-left: 30px;
    gap: 30px;
  }
  .mainButtons{
    font-size: 14px;
    width: 350px;
    padding-left: 30px;
    gap: 30px;
  }
  .Source,.wikipedia{
    font-size: 14px;
  }

}
